<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="root-menu">
    <item label="Terminal">
      <action name="Execute"><command>foot</command></action>
    </item>
    <item label="Browser">
      <action name="Execute"><command>firefox</command></action>
    </item>
    <item label="Files">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
    <separator/>
    <item label="Reconfigure">
      <action name="Execute"><command>labwc -r</command></action>
    </item>
    <item label="Logout">
      <action name="Execute"><command>labwc --exit</command></action>
    </item>
    <item label="Reboot">
      <action name="Execute"><command>sudo reboot</command></action>
    </item>
    <item label="Shutdown">
      <action name="Execute"><command>sudo poweroff</command></action>
    </item>
  </menu>
</openbox_menu>
