DEFAULT superlite
PROMPT 1
TIMEOUT 50
UI vesamenu.c32

MENU TITLE SuperLite OS Boot Menu
MENU BACKGROUND #00000000
MENU COLOR title    * #FFFFFFFF *
MENU COLOR sel      * #FFFFFFFF #FF0055AA *
MENU COLOR unsel    * #FFBBBBBB #FF000000 *
MENU COLOR border   * #FFFFFFFF #FF000000 *

LABEL superlite
    MENU LABEL SuperLite OS (Live)
    LINUX /boot/vmlinuz-lts
    APPEND initrd=/boot/initramfs-lts boot=live quiet splash

LABEL safe
    MENU LABEL SuperLite OS (Safe Mode)
    LINUX /boot/vmlinuz-lts
    APPEND initrd=/boot/initramfs-lts boot=live nomodeset verbose

LABEL console
    MENU LABEL SuperLite OS (Console)
    LINUX /boot/vmlinuz-lts
    APPEND initrd=/boot/initramfs-lts boot=live 3
